version: '3.7'

services:
  mysql:
    image: mysql:5.7
    volumes:
      - ./volume/mysql:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASS}
    ports:
      - "33060:3306"

  remote_mysql_user:
    image: mysql:5.7
    depends_on:
      - mysql
    environment:
      ENV_MYSQL_SERVER: ${MYSQL_SERVER}
      ENV_MYSQL_USER: ${MYSQL_USER}
      ENV_MYSQL_PASSWORD: ${MYSQL_PASS}

      ENV_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      ENV_REMOTE_USER: ${REMOTE_USER}
      ENV_REMOTE_PASS: ${REMOTE_PASS}

    volumes:
      - ./create_remote_user.sh:/create_remote_user.sh
    entrypoint: [ "sh", "-c", "/create_remote_user.sh" ]



# TEAM setup DA_TEAM_00
  seeder_DA_TEAM_00:
    image: mysql:5.7
    depends_on:
      - mysql
    volumes:
      - ./seed/seed.sql:/seed.sql
      - ./seed/seed.sh:/seed.sh
    environment:
      ENV_MYSQL_SERVER: ${MYSQL_SERVER}
      ENV_MYSQL_USER: ${MYSQL_USER}
      ENV_MYSQL_PASSWORD: ${MYSQL_PASS}
      ENV_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}

      ENV_MYSQL_SCHEMA: ${DA_TEAM_00}
      ENV_WEB_URL: '${DA_TEAM_00}.${DA_BASE_HOSTING_DOMAIN}'
    entrypoint: ["sh", "-c", "/seed.sh"]


  app_DA_TEAM_00:
    image: docker.io/tomaswidlak/czechitas-qloapps:legacy
    ports:
      - "8800:80"
    environment:
      ENV_MYSQL_SCHEMA: ${DA_TEAM_00}
      ENV_MYSQL_SERVER: ${MYSQL_SERVER}
      ENV_MYSQL_USER: ${MYSQL_USER}
      ENV_MYSQL_PASS: ${MYSQL_PASS}
      ENV_MYSQL_PREFIX: ${MYSQL_PREFIX}
      ENV_MYMODULE_API_TOKEN: ${API_TOKEN}
    depends_on:
      - mysql
    volumes:
      - ./volume/${DA_TEAM_00}:/var/www/html




  # TEAM setup DA_TEAM_01
  seeder_DA_TEAM_01:
    image: mysql:5.7
    depends_on:
      - mysql
    volumes:
      - ./seed/seed.sql:/seed.sql
      - ./seed/seed.sh:/seed.sh
    environment:
      ENV_MYSQL_SERVER: ${MYSQL_SERVER}
      ENV_MYSQL_USER: ${MYSQL_USER}
      ENV_MYSQL_PASSWORD: ${MYSQL_PASS}
      ENV_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}

      ENV_MYSQL_SCHEMA: ${DA_TEAM_01}
      ENV_WEB_URL: '${DA_TEAM_01}.${DA_BASE_HOSTING_DOMAIN}'
    entrypoint: ["sh", "-c", "/seed.sh"]


  app_DA_TEAM_01:
    image: docker.io/tomaswidlak/czechitas-qloapps:legacy
    ports:
      - "8801:80"
    environment:
      ENV_MYSQL_SCHEMA: ${DA_TEAM_01}
      ENV_MYSQL_SERVER: ${MYSQL_SERVER}
      ENV_MYSQL_USER: ${MYSQL_USER}
      ENV_MYSQL_PASS: ${MYSQL_PASS}
      ENV_MYSQL_PREFIX: ${MYSQL_PREFIX}
      ENV_MYMODULE_API_TOKEN: ${API_TOKEN}
    depends_on:
      - mysql
    volumes:
      - ./volume/${DA_TEAM_01}:/var/www/html




  # TEAM setup DA_TEAM_02
  seeder_DA_TEAM_02:
    image: mysql:5.7
    depends_on:
      - mysql
    volumes:
      - ./seed/seed.sql:/seed.sql
      - ./seed/seed.sh:/seed.sh
    environment:
      ENV_MYSQL_SERVER: ${MYSQL_SERVER}
      ENV_MYSQL_USER: ${MYSQL_USER}
      ENV_MYSQL_PASSWORD: ${MYSQL_PASS}
      ENV_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}

      ENV_MYSQL_SCHEMA: ${DA_TEAM_02}
      ENV_WEB_URL: '${DA_TEAM_02}.${DA_BASE_HOSTING_DOMAIN}'
    entrypoint: ["sh", "-c", "/seed.sh"]


  app_DA_TEAM_02:
    image: docker.io/tomaswidlak/czechitas-qloapps:legacy
    ports:
      - "8802:80"
    environment:
      ENV_MYSQL_SCHEMA: ${DA_TEAM_02}
      ENV_MYSQL_SERVER: ${MYSQL_SERVER}
      ENV_MYSQL_USER: ${MYSQL_USER}
      ENV_MYSQL_PASS: ${MYSQL_PASS}
      ENV_MYSQL_PREFIX: ${MYSQL_PREFIX}
      ENV_MYMODULE_API_TOKEN: ${API_TOKEN}
    depends_on:
      - mysql
    volumes:
      - ./volume/${DA_TEAM_02}:/var/www/html






  # TEAM setup DA_TEAM_03
  seeder_DA_TEAM_03:
    image: mysql:5.7
    depends_on:
      - mysql
    volumes:
      - ./seed/seed.sql:/seed.sql
      - ./seed/seed.sh:/seed.sh
    environment:
      ENV_MYSQL_SERVER: ${MYSQL_SERVER}
      ENV_MYSQL_USER: ${MYSQL_USER}
      ENV_MYSQL_PASSWORD: ${MYSQL_PASS}
      ENV_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}

      ENV_MYSQL_SCHEMA: ${DA_TEAM_03}
      ENV_WEB_URL: '${DA_TEAM_03}.${DA_BASE_HOSTING_DOMAIN}'
    entrypoint: ["sh", "-c", "/seed.sh"]


  app_DA_TEAM_03:
    image: docker.io/tomaswidlak/czechitas-qloapps:legacy
    ports:
      - "8803:80"
    environment:
      ENV_MYSQL_SCHEMA: ${DA_TEAM_03}
      ENV_MYSQL_SERVER: ${MYSQL_SERVER}
      ENV_MYSQL_USER: ${MYSQL_USER}
      ENV_MYSQL_PASS: ${MYSQL_PASS}
      ENV_MYSQL_PREFIX: ${MYSQL_PREFIX}
      ENV_MYMODULE_API_TOKEN: ${API_TOKEN}
    depends_on:
      - mysql
    volumes:
      - ./volume/${DA_TEAM_03}:/var/www/html






  # TEAM setup DA_TEAM_04
  seeder_DA_TEAM_04:
    image: mysql:5.7
    depends_on:
      - mysql
    volumes:
      - ./seed/seed.sql:/seed.sql
      - ./seed/seed.sh:/seed.sh
    environment:
      ENV_MYSQL_SERVER: ${MYSQL_SERVER}
      ENV_MYSQL_USER: ${MYSQL_USER}
      ENV_MYSQL_PASSWORD: ${MYSQL_PASS}
      ENV_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}

      ENV_MYSQL_SCHEMA: ${DA_TEAM_04}
      ENV_WEB_URL: '${DA_TEAM_04}.${DA_BASE_HOSTING_DOMAIN}'
    entrypoint: ["sh", "-c", "/seed.sh"]


  app_DA_TEAM_04:
    image: docker.io/tomaswidlak/czechitas-qloapps:legacy
    ports:
      - "8804:80"
    environment:
      ENV_MYSQL_SCHEMA: ${DA_TEAM_04}
      ENV_MYSQL_SERVER: ${MYSQL_SERVER}
      ENV_MYSQL_USER: ${MYSQL_USER}
      ENV_MYSQL_PASS: ${MYSQL_PASS}
      ENV_MYSQL_PREFIX: ${MYSQL_PREFIX}
      ENV_MYMODULE_API_TOKEN: ${API_TOKEN}
    depends_on:
      - mysql
    volumes:
      - ./volume/${DA_TEAM_04}:/var/www/html






  # TEAM setup DA_TEAM_05
  seeder_DA_TEAM_05:
    image: mysql:5.7
    depends_on:
      - mysql
    volumes:
      - ./seed/seed.sql:/seed.sql
      - ./seed/seed.sh:/seed.sh
    environment:
      ENV_MYSQL_SERVER: ${MYSQL_SERVER}
      ENV_MYSQL_USER: ${MYSQL_USER}
      ENV_MYSQL_PASSWORD: ${MYSQL_PASS}
      ENV_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}

      ENV_MYSQL_SCHEMA: ${DA_TEAM_05}
      ENV_WEB_URL: '${DA_TEAM_05}.${DA_BASE_HOSTING_DOMAIN}'
    entrypoint: ["sh", "-c", "/seed.sh"]


  app_DA_TEAM_05:
    image: docker.io/tomaswidlak/czechitas-qloapps:legacy
    ports:
      - "8805:80"
    environment:
      ENV_MYSQL_SCHEMA: ${DA_TEAM_05}
      ENV_MYSQL_SERVER: ${MYSQL_SERVER}
      ENV_MYSQL_USER: ${MYSQL_USER}
      ENV_MYSQL_PASS: ${MYSQL_PASS}
      ENV_MYSQL_PREFIX: ${MYSQL_PREFIX}
      ENV_MYMODULE_API_TOKEN: ${API_TOKEN}
    depends_on:
      - mysql
    volumes:
      - ./volume/${DA_TEAM_05}:/var/www/html






  # TEAM setup DA_TEAM_06
  seeder_DA_TEAM_06:
    image: mysql:5.7
    depends_on:
      - mysql
    volumes:
      - ./seed/seed.sql:/seed.sql
      - ./seed/seed.sh:/seed.sh
    environment:
      ENV_MYSQL_SERVER: ${MYSQL_SERVER}
      ENV_MYSQL_USER: ${MYSQL_USER}
      ENV_MYSQL_PASSWORD: ${MYSQL_PASS}
      ENV_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}

      ENV_MYSQL_SCHEMA: ${DA_TEAM_06}
      ENV_WEB_URL: '${DA_TEAM_06}.${DA_BASE_HOSTING_DOMAIN}'
    entrypoint: ["sh", "-c", "/seed.sh"]


  app_DA_TEAM_06:
    image: docker.io/tomaswidlak/czechitas-qloapps:legacy
    ports:
      - "8806:80"
    environment:
      ENV_MYSQL_SCHEMA: ${DA_TEAM_06}
      ENV_MYSQL_SERVER: ${MYSQL_SERVER}
      ENV_MYSQL_USER: ${MYSQL_USER}
      ENV_MYSQL_PASS: ${MYSQL_PASS}
      ENV_MYSQL_PREFIX: ${MYSQL_PREFIX}
      ENV_MYMODULE_API_TOKEN: ${API_TOKEN}
    depends_on:
      - mysql
    volumes:
      - ./volume/${DA_TEAM_06}:/var/www/html







  # TEAM setup DA_TEAM_07
  seeder_DA_TEAM_07:
    image: mysql:5.7
    depends_on:
      - mysql
    volumes:
      - ./seed/seed.sql:/seed.sql
      - ./seed/seed.sh:/seed.sh
    environment:
      ENV_MYSQL_SERVER: ${MYSQL_SERVER}
      ENV_MYSQL_USER: ${MYSQL_USER}
      ENV_MYSQL_PASSWORD: ${MYSQL_PASS}
      ENV_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}

      ENV_MYSQL_SCHEMA: ${DA_TEAM_07}
      ENV_WEB_URL: '${DA_TEAM_07}.${DA_BASE_HOSTING_DOMAIN}'
    entrypoint: ["sh", "-c", "/seed.sh"]


  app_DA_TEAM_07:
    image: docker.io/tomaswidlak/czechitas-qloapps:legacy
    ports:
      - "8807:80"
    environment:
      ENV_MYSQL_SCHEMA: ${DA_TEAM_07}
      ENV_MYSQL_SERVER: ${MYSQL_SERVER}
      ENV_MYSQL_USER: ${MYSQL_USER}
      ENV_MYSQL_PASS: ${MYSQL_PASS}
      ENV_MYSQL_PREFIX: ${MYSQL_PREFIX}
      ENV_MYMODULE_API_TOKEN: ${API_TOKEN}
    depends_on:
      - mysql
    volumes:
      - ./volume/${DA_TEAM_07}:/var/www/html







  # TEAM setup DA_TEAM_08
  seeder_DA_TEAM_08:
    image: mysql:5.7
    depends_on:
      - mysql
    volumes:
      - ./seed/seed.sql:/seed.sql
      - ./seed/seed.sh:/seed.sh
    environment:
      ENV_MYSQL_SERVER: ${MYSQL_SERVER}
      ENV_MYSQL_USER: ${MYSQL_USER}
      ENV_MYSQL_PASSWORD: ${MYSQL_PASS}
      ENV_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}

      ENV_MYSQL_SCHEMA: ${DA_TEAM_08}
      ENV_WEB_URL: '${DA_TEAM_08}.${DA_BASE_HOSTING_DOMAIN}'
    entrypoint: ["sh", "-c", "/seed.sh"]


  app_DA_TEAM_08:
    image: docker.io/tomaswidlak/czechitas-qloapps:legacy
    ports:
      - "8808:80"
    environment:
      ENV_MYSQL_SCHEMA: ${DA_TEAM_08}
      ENV_MYSQL_SERVER: ${MYSQL_SERVER}
      ENV_MYSQL_USER: ${MYSQL_USER}
      ENV_MYSQL_PASS: ${MYSQL_PASS}
      ENV_MYSQL_PREFIX: ${MYSQL_PREFIX}
      ENV_MYMODULE_API_TOKEN: ${API_TOKEN}
    depends_on:
      - mysql
    volumes:
      - ./volume/${DA_TEAM_08}:/var/www/html




  # TEAM setup DA_TEAM_09
  seeder_DA_TEAM_09:
    image: mysql:5.7
    depends_on:
      - mysql
    volumes:
      - ./seed/seed.sql:/seed.sql
      - ./seed/seed.sh:/seed.sh
    environment:
      ENV_MYSQL_SERVER: ${MYSQL_SERVER}
      ENV_MYSQL_USER: ${MYSQL_USER}
      ENV_MYSQL_PASSWORD: ${MYSQL_PASS}
      ENV_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}

      ENV_MYSQL_SCHEMA: ${DA_TEAM_09}
      ENV_WEB_URL: '${DA_TEAM_09}.${DA_BASE_HOSTING_DOMAIN}'
    entrypoint: [ "sh", "-c", "/seed.sh" ]


  app_DA_TEAM_09:
    image: docker.io/tomaswidlak/czechitas-qloapps:legacy
    ports:
      - "8809:80"
    environment:
      ENV_MYSQL_SCHEMA: ${DA_TEAM_09}
      ENV_MYSQL_SERVER: ${MYSQL_SERVER}
      ENV_MYSQL_USER: ${MYSQL_USER}
      ENV_MYSQL_PASS: ${MYSQL_PASS}
      ENV_MYSQL_PREFIX: ${MYSQL_PREFIX}
      ENV_MYMODULE_API_TOKEN: ${API_TOKEN}
    depends_on:
      - mysql
    volumes:
      - ./volume/${DA_TEAM_09}:/var/www/html







  # TEAM setup DA_TEAM_10
  seeder_DA_TEAM_10:
    image: mysql:5.7
    depends_on:
      - mysql
    volumes:
      - ./seed/seed.sql:/seed.sql
      - ./seed/seed.sh:/seed.sh
    environment:
      ENV_MYSQL_SERVER: ${MYSQL_SERVER}
      ENV_MYSQL_USER: ${MYSQL_USER}
      ENV_MYSQL_PASSWORD: ${MYSQL_PASS}
      ENV_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}

      ENV_MYSQL_SCHEMA: ${DA_TEAM_10}
      ENV_WEB_URL: '${DA_TEAM_10}.${DA_BASE_HOSTING_DOMAIN}'
    entrypoint: [ "sh", "-c", "/seed.sh" ]


  app_DA_TEAM_10:
    image: docker.io/tomaswidlak/czechitas-qloapps:legacy
    ports:
      - "8810:80"
    environment:
      ENV_MYSQL_SCHEMA: ${DA_TEAM_10}
      ENV_MYSQL_SERVER: ${MYSQL_SERVER}
      ENV_MYSQL_USER: ${MYSQL_USER}
      ENV_MYSQL_PASS: ${MYSQL_PASS}
      ENV_MYSQL_PREFIX: ${MYSQL_PREFIX}
      ENV_MYMODULE_API_TOKEN: ${API_TOKEN}
    depends_on:
      - mysql
    volumes:
      - ./volume/${DA_TEAM_10}:/var/www/html




  # TEAM setup DA_TEAM_11
  seeder_DA_TEAM_11:
    image: mysql:5.7
    depends_on:
      - mysql
    volumes:
      - ./seed/seed.sql:/seed.sql
      - ./seed/seed.sh:/seed.sh
    environment:
      ENV_MYSQL_SERVER: ${MYSQL_SERVER}
      ENV_MYSQL_USER: ${MYSQL_USER}
      ENV_MYSQL_PASSWORD: ${MYSQL_PASS}
      ENV_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}

      ENV_MYSQL_SCHEMA: ${DA_TEAM_11}
      ENV_WEB_URL: '${DA_TEAM_11}.${DA_BASE_HOSTING_DOMAIN}'
    entrypoint: ["sh", "-c", "/seed.sh"]


  app_DA_TEAM_11:
    image: docker.io/tomaswidlak/czechitas-qloapps:legacy
    ports:
      - "8811:80"
    environment:
      ENV_MYSQL_SCHEMA: ${DA_TEAM_11}
      ENV_MYSQL_SERVER: ${MYSQL_SERVER}
      ENV_MYSQL_USER: ${MYSQL_USER}
      ENV_MYSQL_PASS: ${MYSQL_PASS}
      ENV_MYSQL_PREFIX: ${MYSQL_PREFIX}
      ENV_MYMODULE_API_TOKEN: ${API_TOKEN}
    depends_on:
      - mysql
    volumes:
      - ./volume/${DA_TEAM_11}:/var/www/html



# # TEMPLATE

#  # TEAM setup DA_TEAM_01
#  seeder_DA_TEAM_01:
#    image: mysql:5.7
#    depends_on:
#      - mysql
#    volumes:
#      - ./seed/seed.sql:/seed.sql
#      - ./seed/seed.sh:/seed.sh
#    environment:
#      ENV_MYSQL_SERVER: ${MYSQL_SERVER}
#      ENV_MYSQL_USER: ${MYSQL_USER}
#      ENV_MYSQL_PASSWORD: ${MYSQL_PASS}
#      ENV_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
#
#      ENV_MYSQL_SCHEMA: ${DA_TEAM_01}
#      ENV_WEB_URL: '${DA_TEAM_01}.${DA_BASE_HOSTING_DOMAIN}'
#    entrypoint: ["sh", "-c", "/seed.sh"]
#
#
#  app_DA_TEAM_01:
#    image: docker.io/tomaswidlak/czechitas-qloapps:legacy
#    ports:
#      - "8800:80"
#    environment:
#      ENV_MYSQL_SCHEMA: ${DA_TEAM_01}
#      ENV_MYSQL_SERVER: ${MYSQL_SERVER}
#      ENV_MYSQL_USER: ${MYSQL_USER}
#      ENV_MYSQL_PASS: ${MYSQL_PASS}
#      ENV_MYSQL_PREFIX: ${MYSQL_PREFIX}
#      ENV_MYMODULE_API_TOKEN: ${API_TOKEN}
#    depends_on:
#      - mysql
#    volumes:
#      - ./volume/${DA_TEAM_01}:/var/www/html
#

